    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

     /*font-family: "Inter", sans-serif; */

/* Modificador del bloque */
.profile-card--featured {
  border-color: gold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modificador del elemento */
.profile-card__button--disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}