*{
    margin: 0;
    padding: 0;
}

.grid-container {
     border: 1px solid black;
    height: 100vh;

    display: grid; 
     grid-template-columns: 150px 150px 150px; 
     grid-template-columns: repeat(3, 250px); 
     grid-template-columns: 1fr 1fr 1fr; */
     grid-template-rows: 150px 150px 150px; 
     grid-template-rows: repeat(3, 250px); 

     align-items: center;
    justify-content: center;
    gap: 24px; */

     grid-template-areas: 
        "navbar encabezado encabezado"
        "navbar descripcion descripcion"
        "info info info"; 
}

 .hijo {
    justify-self: center;
    align-self: center;
}

.encabezado {
    grid-area: encabezado;
    background-color: green;
}
.navbar {
    grid-area: navbar;
    background-color: blue;
}
.descripcion {
    grid-area: descripcion;
    background-color: red;
}
.info {
    grid-area: info;
    background-color: yellow;
} */

.grid-container p {
    font-size: 32px;
}


@media (max-width: 450px) {
    .grid-container {
        background-color: blue;
    }
    .grid-container p {
        font-size: 16px;
    }
}

@media (min-width: 451px) and (max-width: 1024px) {
    .grid-container {
        background-color: green;
    }
    .grid-container p {
        font-size: 24px;
    }
}

/* Breakpoing Mobile: 450px-480px */
/* Breakpoing Tablet: 1024px */